.gradle/
.kotlin/
**/build/
local.properties
.idea/
**/*.iml
*.apk
*.aab
*.jks
*.keystore
captures/
play/screenshots/**/*.png
play/screenshots/**/*.jpg
play/screenshots/**/*.jpeg
play/screenshots/**/manifest.json
